body    {
    text-align: center;
    background-image: url("../image/halftone-yellow.png");
    margin-top: 80px;

}

h1  {
    color: lightcoral;
    font-family: cursive;
    font-weight: lighter;
    border: 3px dotted;
    border-radius: 15px;
    display: inline;
}

.title {
    color: darkmagenta;
    text-decoration: dashed;
    margin-top: 20px;
}

label {
    display: block;
}

.price {
    color: darkmagenta;
}

.description {
    color: darkmagenta;
    /*box-sizing: border-box;*/
    /*width: 1496px;*/
}

button {
    color: cornflowerblue;
}

.opac  {
    opacity: .7;
}

.hover {
    color: darkolivegreen;
    position: relative;
    float: left;
    right: -167px;
}
.hover:hover {
    color: rosybrown;
}

.samplefloat {
    /*border: 1px solid black;*/
    box-sizing: border-box;
    position: relative;
    float: left;
    bottom: 460px;
    right: 0px;
    width: 500px;
    height: 500px;
    color: darkmagenta;
    font-weight: lighter;
    font-family: cursive;
    font-size: 15px;

}

.mask {
    position: relative;
    top: 20px;
    height: 250px;
    border: 3px dotted darkmagenta;
}
