.jumbotron {
    background-image: url("../image/pizza_cat_orange_cat_space_cat_classic_round_sticker-rbb8e29cffae242738fd3e5f91853a2e4_v9wth_8byvr_324.jpg");
    height: 310px;
}


h1 {
    background-color: white;
    opacity: .7;
    text-align: center;
}

/*h1>span {*/
    /*opacity: none;*/
/*}*/

.panel-body{
    background-color: #ff9be1;
    opacity: .5;
}

#pushcart {
    position: relative;
    float: right;
}

div {
    font-size: 19px;
    font-weight: bold ;
}

.btn-default {
    float: right;
}

li, label, select {
    font-weight: bold;
    color: deeppink;
}

#purr {
    margin-top: 75px;
}


